body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #286fcaa1;

}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.card{
   height: 100%;
   width: 100%;
}

.popup{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.popup .card-body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.popup .card-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #4899f0;
    margin-bottom: 1rem;
}

.popup .h5 {
    color: #4899f0ee; 
    font-weight: bold;
    margin-bottom: 0.5rem; 
    align-self: center;
}

.popup .h6 {
    color: #636579bd; 
    margin-bottom: 1rem; 
    align-self: center;
    margin-left: 4.9rem;
}

.popup .btn {
    align-self: center;
    margin-top: 0rem;
}

#taskList {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: start;
    text-align: start;
    padding: 5px 15px;
    background: linear-gradient(120deg, #5f9ff3, #f1eff5d5, #3d3f4146);
    border: 1px solid;
    box-shadow: rgba(34, 47, 149, 0.357);
    border-radius: 5px;
    margin-bottom: 5px;
    transition: transform 0.1s ease;
}

.list-group-item:hover {
    transform: scale(1.005);
    z-index: 1;
}

.list-group-item .task-text {
    flex-grow: 1;
    margin-left: 10px;
    font-size: 16px;
}

.list-group-item.completed .task-text {
    text-decoration: line-through !important;
    color: #6c757d;
}

.list-group-item .form-check-input {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.list-group-item .delete-btn {
    background-color: #ffffff;
    color: #dc3545;
    border: 1px solid #dc3545;
    padding: 5px 10px;
    font-size: 11px;
    cursor: pointer;
    border-radius: 5px;
    border-color: #dc3545;
}

.list-group-item .delete-btn:hover {
    background-color: #dc3545;
    border: 1px solid #dc3545;
    color: white;
}
